@model IEnumerable<LeatherColombia.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetodoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSolicitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetodoPago.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaSolicitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEnvio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PedidoID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PedidoID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PedidoID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
